html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
  height: 100%;
  position: relative;
}

.text-danger {
  color: crimson;
}

.container {
  text-align: center;
}
